---
import "../styles/global.css"
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import Search from "../components/Search.astro";
---

<Layout>
	<main>
		<Hero />
		<Search />
	</main>
</Layout>
