---
import DevshelfIcon from './icons/DevshelfIcon.astro';
import PreviewIcon from './icons/PreviewIcon.astro';
---

<!-- Header -->
<header class="fixed right-0 left-0 w-full px-6 py-4 flex justify-between items-center border-b border-primary/20 dark:border-primary/30 backdrop-blur-sm bg-white/75 dark:bg-black/75 z-99">
        <!-- Menu -->
        <article class="flex items-center gap-16">
            <!-- Logo -->
            <a class="flex items-center text-3xl font-bold text-[#1b140d] dark:text-background-light" href="#top">
                <DevshelfIcon class="h-10 w-10 text-primary mr-1" />
                <span class="text-primary">Dev</span><span>shelf</span>
            </a>
            <nav class="flex items-center gap-8 text-base font-medium">
                <a href="#">Home</a>
                <a href="#">Categories</a>
                <a href="#">About</a>
            </nav>
        </article>

        <!-- Buttons -->
        <article class="flex items-center gap-4">
            <button class="flex flex-row justify-center items-center gap-2 bg-primary/90 text-white font-bold text-sm h-10 px-4 rounded-lg hover:bg-primary transition-colors cursor-pointer">
                Submit a tool
                <PreviewIcon class="h-5 w-4" />
            </button>
        </article>
</header>

<style>
    @reference "../styles/global.css";

    /* Links */
    nav a {
        @apply text-[#3a2e24] dark:text-[#d3cec9] hover:text-primary dark:hover:text-primary transform transition-all;
    }
</style>