<!-- Hero -->
<section class="py-18">
    <div class="text-center text-white bg-cover bg-top" style='background-image: linear-gradient(rgba(34, 24, 16, 0.5) 0%, rgba(34, 24, 16, 0.8) 100%), url("/src/assets/BackgroundHero.jpg");'>

        <!-- Presentación -->
        <article class="py-20 max-w-5xl mx-auto">
            <h1 class="text-5xl font-extrabold !leading-tight tracking-tight">
                Curated libraries, snippets, utilities & tools for <span class="text-primary-light">modern</span> web development
            </h1>
            <p class="mt-16 text-xl text-white/80 max-w-2xl mx-auto">
                Discover, compare and integrate the best web development resources. From web tools to copy-ready components, find everything you need in one curated collection.
            </p>
        </article>
      </div>
    </div>
</section>