---
import SearchIcon from './icons/SearchIcon.astro';
---

<!-- Search Bar -->
<article class="py-12 max-w-7xl mx-auto">
    <form class="relative group">
        <input class="w-full h-14 pl-12 pr-32 text-base bg-white dark:bg-background-dark border border-primary rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent text-[#3a2e24] dark:text-[#d3cec9] placeholder-black/60 group-hover:shadow-2xl group-hover:shadow-amber-300" placeholder="Search tools, libraries, utilities..." type="text"/>
        <SearchIcon class="absolute left-3 top-1/2 -translate-y-1/2 size-6 text-primary" />
    </form>
</article>