<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Devshelf is a digital library of resources for programmers. Explore libraries, tools and utilities to learn faster, code smarter and make development easier." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Bookshelf3D.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Devshelf | Digital Bookshelf of Resources for Developers</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
