---

import '@fontsource/pacifico';
import '@fontsource-variable/nunito-sans';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Devshelf is a digital library of resources for programmers. Explore libraries, tools and utilities to learn faster, code smarter and make development easier." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Devshelf.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Devshelf | Digital Bookshelf of Resources for Developers</title>
	</head>

	<body class="relative text-black dark:text-white">
		<slot />
	</body>
</html>

<style is:global>
	:root {
    	color-scheme: light dark;
    }
	
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
	}

	html {
		font-family: 'Nunito Sans Variable', sans-serif;
		scroll-behavior: smooth;
	}

	h1 {
		font-family: 'Pacifico', cursive;
	}
</style>
